<div class="jumbotron">
    <h1 class="display-4">RailsPhoto</h1>
    <p class="lead">A simple Rails Photo Application</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg'%>
</div>